@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply bg-navy font-sans lg:scrollbar-thin lg:scrollbar-track-lightNavy
        lg:scrollbar-thumb-green
    }
}

@layer components{
    .downloadResume{
        @apply px-3 py-1 text-green m-auto border-2 rounded-md
    }
    .title{
        @apply font-sans text-lightest-slate text-2xl md:text-3xl font-bold mb-8 flex justify-between
        min-w-full
    }
    .posisi1{
        @apply 2xl:mx-40 space-y-5 max-w-[900px] w-full flex flex-col items-center min-h-[50vh]
    }
    .posisi2{
        @apply space-y-5 lg:ml-20 max-w-[900px] w-full flex flex-col items-center min-h-[50vh]
    }
    .shadowGreen{
        @apply absolute z-[-1] m-auto border-2 border-green 
        sm:w-[60%] sm:right-[80px] sm:h-[90%] sm:top-16 
        md:w-[70%] md:right-[60px] lg:w-full lg:top-4 lg:right-[-20px]
        lg:h-full
    }
    .divider{
        @apply relative w-[60%] h-[1px] bg-lightSlate bottom-[-50px]
    }
    .wrapper{
        @apply flex max-w-[900px] gap-x-3 flex-col lg:flex-row
    }
    .firstTitle{
        @apply text-sm text-left text-green md:text-lg font-mono
    }
    .stick{
        @apply flex flex-col space-x-0 space-y-5 items-center after:content-[''] after:h-24
        after:w-[1px] after:block after:bg-lightSlate after:m-auto after:mt-6
    }
    .contSMmed{
        @apply fixed bottom-0 flex justify-between w-full px-12 
        items-end flex-row
    }
    .contSMsm{
        @apply absolute flex space-y-10 flex-col w-full 
    }
    
    .bottom{
        @apply flex justify-center space-x-10
    }
    .name{
        @apply text-5xl md:text-6xl font-bold sm:w-[70%] xl:w-full
        text-lightest-slate
    }
    .intro{
        @apply sm:w-[70%] 2xl:w-[70%]
    }
}

@layer utilities{
    .scrollbar-thin::-webkit-scrollbar {
        height:2px;
    }
    .scrollbar-thumb-green::-webkit-scrollbar-thumb{
        border-radius:10px;
    }
}